.env
venv/
__pycache__/

# База данных (создается пустая на новом мсесте)
/instance/

# Миграции всегда передавать вместе с проектом

#backup
old_files/

.flaskenv
.env.*
*.log
*.pyc
.idea/
.vscode/
.DS_Store