<!-- /app/templates/certificates/_certificate_template_select_modal.html -->
<div
    class="modal fade"
    id="certificateTemplateSelectModal"
    tabindex="-1"
    aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">
                    Выбор макета сертификата
                </h5>
                <button
                    type="button"
                    class="btn-close"
                    data-bs-dismiss="modal"
                    aria-label="Закрыть"
                ></button>
            </div>
            <div class="modal-body">
                <div
                    id="certificateTemplateFolders"
                    class="list-group">
                </div>
                <div
                    id="certificateTemplateFiles"
                    class="row g-3 mt-2">
                </div>
            </div>
        </div>
    </div>
</div>