<!-- Модалка просмотра макета -->
<div
    class="modal fade"
    id="templatePreviewModal"
    tabindex="-1"
    aria-hidden="true"
>
    <div class="modal-dialog modal-fullscreen-lg-down modal-xl modal-dialog-centered">
        <div class="modal-content">

            <div class="modal-header">
                <h5
                    class="modal-title"
                    id="templatePreviewModalTitle"
                >
                    Просмотр макета
                </h5>

                <button
                    type="button"
                    class="btn-close"
                    data-bs-dismiss="modal"
                    aria-label="Закрыть"
                ></button>
            </div>

            <div
                class="modal-body template-preview-modal-body"
                id="templatePreviewModalBody"
            ></div>

        </div>
    </div>
</div>