<!-- /app/templates/certificates/_certificate_templates.html -->
<div class="certificate-templates-section">
    <div class="d-flex justify-content-between align-items-center mb-2">
        <label class="form-label mb-0">
            Макеты сертификата
        </label>
        <button
            type="button"
            class="btn btn-sm btn-outline-primary  certificate-templates-add-btn">
            <i class="bi bi-plus-lg"></i>
            Добавить макет
        </button>
    </div>
    <div class="certificate-templates-container">
        <div class="certificate-templates-empty text-muted small">
            Макеты не добавлены
        </div>
    </div>
</div>