<!-- app/templates/certificates/list.html -->
{% extends "base.html" %}

{% block content %}
<div class="container mt-5">
    <h2>Список сертификатов</h2>
        <div class="d-flex align-items-start mb-3">

            <div class="d-flex flex-wrap gap-2">
                <!-- Кнопка для открытия модального окна создания сертификата-->
                {% if current_user.has_permission('certificates_create') %}
                <button type="button"
                        class="btn btn-primary mb-3"
                        id="createCertBtn"
                        data-bs-toggle="modal"
                        data-bs-target="#createCertModal">
                    Создание
                </button>
                {% endif %}
                {% if current_user.has_permission('certificates_edit') %}
                <button type="button"
                        class="btn btn-warning mb-3"
                        id="editCertBtn"
                        disabled>
                    Изменение
                </button>
                {% endif %}
                {% if current_user.has_permission('certificates_issue') %}
                <button type="button" 
                        class="btn btn-primary mb-3" 
                        id = "issuingCertBtn"
                        disabled>
                    Выдача
                </button>
                {% endif %}
                {% if current_user.has_permission('certificates_spend') %}
                <button type="button" 
                        class="btn btn-danger mb-3" 
                        id="spendCertBtn"
                        disabled>
                    Списание
                </button>
                {% endif %}
                {% if current_user.has_permission('certificates_close') %}
                <button type="button" 
                        class="btn btn-primary mb-3" 
                        id = "closingCertBtn"
                        disabled>
                    Вывод
                </button>
                {% endif %}
                {% if current_user.has_permission('certificates_restore') %}
                <button type="button" 
                        class="btn btn-primary mb-3" 
                        id = "restoreCertBtn"
                        disabled>
                    Восстановление
                </button>
                {% endif %}
            </div>

            <div class="ms-auto search-container">

                <!-- кнопка-лупа -->
                <button type="button"
                        class="btn btn-outline-secondary search-toggle-btn"
                        id="searchToggleBtn">
                    🔍
                </button>

                <!-- поле поиска -->
                <div class="search-box d-none" id="searchBox">
                    <input type="text"
                        class="form-control search-input"
                        id="certSearchInput"
                        placeholder="Поиск сертификата...">

                    <button type="button"
                            class="search-clear-btn"
                            id="clearSearchBtn">
                        ✕
                    </button>
                </div>

            </div>

        </div>
        
        <!-- Фильтры -->
        <ul class="nav nav-tabs mb-3" id="certFilterTabs">
            <li class="nav-item">
                <button class="nav-link active filter-btn" data-filter="all">
                    Все
                </button>
            </li>
            <li class="nav-item">
                <button class="nav-link filter-btn" data-filter="new">
                    Не выданы
                </button>
            </li>
            <li class="nav-item">
                <button class="nav-link filter-btn" data-filter="issued">
                    Выданы
                </button>
            </li>
            <li class="nav-item">
                <button class="nav-link filter-btn" data-filter="zero">
                    Пустые
                </button>
            </li>
            {% if current_user.has_permission('certificates_view_out') %}
            <li class="nav-item">
                <button class="nav-link filter-btn" data-filter="out">
                    Выведены
                </button>
            </li>
            {% endif %}
        </ul>
        <!-- Таблица сертификатов -->
        <div class="table-responsive">
            <table class="table table-striped table-hover">
                <thead class="table-dark">
                    <tr>
                        <th scope="col">#</th> <!-- Колонка с номером строки -->
                        <th scope="col">Серия</th>
                        <th scope="col">Номер</th>
                        <th scope="col">Дата создания</th>
                        <th scope="col">Дата выдачи</th>
                        <th scope="col">Причина</th>
                        <th scope="col">Клиент</th>
                        <th scope="col">Номинал</th>
                        <th scope="col">Остаток</th>
                        <th scope="col">Место выдачи</th>
                        <th scope="col">Группа услуг</th>
                        <th scope="col">Создал</th>
                        <th scope="col">Изменил</th>
                        <th scope="col">Примечание</th>
                        <!-- Добавьте другие колонки по необходимости -->
                    </tr>
                </thead>
                <tbody id="certTableBody">
                    {% for cert in certificates %}
                        <tr class="cert-row"
                            data-id="{{ cert.id }}"
                            
                            data-series="{{ cert.series }}"
                            data-number="{{ cert.number }}"
                            data-create-date="{{ cert.create_date.strftime('%Y-%m-%d') if cert.create_date else '' }}"
                            data-issue-date="{{ cert.issue_date.strftime('%Y-%m-%d') if cert.issue_date else '' }}"
                            data-reason="{{ cert.reason or '' }}"
                            data-client-id="{{ cert.client.id or '' }}"
                            data-client-name="{{ cert.client.name or '' }}"
                            data-total-amount="{{ cert.total_amount }}"
                            data-place-id="{{ cert.place.id if cert.place else '' }}"
                            data-place-name="{{ cert.place.name if cert.place else '' }}"

                            data-servicegroup-id="{{ cert.servicegroup.id if cert.servicegroup else '' }}"
                            data-servicegroup-name="{{ cert.servicegroup.name if cert.servicegroup else '' }}"

                            data-user-id="{{ cert.creator.id }}"
                            data-user-name="{{ cert.creator.name }}"

                            data-user-id="{{ cert.editor.id }}"
                            data-user-name="{{ cert.editor.name }}"

                            data-note="{{ cert.note or '' }}"

                            data-balance="{{ cert.balance }}"
                            data-status="{{
                                'new' if not cert.client_id
                                else 'zero' if cert.balance <= 0
                                else 'issued'
                            }}"
                            {# data-active="{{ cert.active|lower }}" #}
                            data-active="{{ cert.active|string|lower if cert.active is not none else 'null' }}"
                        >
                            <th scope="row">{{ loop.index }}</th>
                            <td>{{ cert.series }}</td>
                            <td>{{ cert.number }}</td>
                            <td>{{ cert.create_date.strftime('%d.%m.%Y') if cert.create_date else '' }}</td>
                            <td>{{ cert.issue_date.strftime('%d.%m.%Y') if cert.issue_date else '' }}</td>
                            <td>{{ cert.reason or '' }}</td>
                            <td>{{ cert.client.name or '' }}</td>
                            <td>{{ cert.total_amount }}</td>
                            <td>{{ cert.balance }}</td>
                            <td>{{ cert.place.name if cert.place else 'Не указано' }}</td>
                            <td>{{ cert.servicegroup.name if cert.servicegroup else 'Не указано' }}</td>
                            <td>{{ cert.creator.name }}</td>
                            <td>{{ cert.editor.name }}</td>
                            <td>{{ cert.note or '' }}</td>
                        </tr>
                       
                    {% else %}
                    <!-- Этот блок отображается, если список certificates пуст -->
                    <tr>
                        <td colspan="10" class="text-center text-muted">Список сертификатов пуст.</td> <!-- colspan = количество колонок -->
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    <a href="{{ url_for('auth.index') }}" class="btn btn-secondary mt-3">Назад</a>
</div>
<!-- Модальное окно для создания сертификата -->
    {% set modal_id = "createCertModal" %}
    {% set modal_title = "Создать сертификат" %}
    {% set action = "create" %}
    {% set submit_text = "Создать" %}
    {% set cert = None %}
    {% include "certificates/_cert_modal.html" %}
    <!-- Модальное окно для редактирования сертификата -->    
    {% set modal_id = "editCertModal" %}
    {% set modal_title = "Редактировать сертификат" %}
    {% set action = "edit" %}
    {% set submit_text = "Сохранить" %}
    {% set cert = None %}
    {% include "certificates/_cert_modal.html" %}
    <!-- Модальное окно для выдачи сертификата --> 
    {% include "certificates/_issue_modal.html" %}
    <!-- Модальное окно для списания средств с сертификата --> 
    {% include "certificates/_spend_modal.html" %}
    <!-- Модальное окно с историей списания средств с сертификата --> 
    {% include "certificates/_usage_history_modal.html" %}
{% endblock %}

{% block scripts %}
    <!-- Подключаем JS файл -->
    <script src="{{ url_for('static', filename='js/certModalWindow.js') }}"></script>
{% endblock %}