<!-- app/templates/certificates/list.html -->
{% extends "base.html" %}

{% block content %}
<div class="container mt-5">
    <h2>Список сертификатов</h2>
        <!-- Кнопка для открытия модального окна создания сертификата-->
        <button type="button"
                class="btn btn-primary mb-3"
                id="createCertBtn"
                data-bs-toggle="modal"
                data-bs-target="#createCertModal">
            Создание
        </button>
        <button type="button"
                class="btn btn-warning mb-3"
                id="editCertBtn"
                disabled>
            Изменение
        </button>
        <button type="button" 
                class="btn btn-primary mb-3" 
                id = "issuingCertBtn"
                disabled>
            Выдача
        </button>
        <button type="button" 
                class="btn btn-primary mb-3" 
                id = "usingCertBtn"
                disabled>
            Использование
        </button>
        <button type="button" 
                class="btn btn-primary mb-3" 
                id = "closingCertBtn"
                disabled>
            Вывод
        </button>
        <ul class="nav nav-tabs mb-3" id="certFilterTabs">
            <li class="nav-item">
                <button class="nav-link active filter-btn" data-filter="all">
                    Все
                </button>
            </li>
            <li class="nav-item">
                <button class="nav-link filter-btn" data-filter="issued">
                    Выпущены
                </button>
            </li>
            <li class="nav-item">
                <button class="nav-link filter-btn" data-filter="zero">
                    Нулевые
                </button>
            </li>
        </ul>
        <!-- Таблица сертификатов -->
        <div class="table-responsive">
            <table class="table table-striped table-hover">
                <thead class="table-dark">
                    <tr>
                        <th scope="col">#</th> <!-- Колонка с номером строки -->
                        <th scope="col">Серия</th>
                        <th scope="col">Номер</th>
                        <th scope="col">Дата создания</th>
                        <th scope="col">Дата выдачи</th>
                        <th scope="col">Причина</th>
                        <th scope="col">Клиент</th>
                        <th scope="col">Номинал</th>
                        <th scope="col">Остаток</th>
                        <th scope="col">Место выдачи</th>
                        <th scope="col">Группа услуг</th>
                        <th scope="col">Создал</th>
                        <th scope="col">Изменил</th>
                        <th scope="col">Примечание</th>
                        <!-- Добавьте другие колонки по необходимости -->
                    </tr>
                </thead>
                <tbody>
                    {% for cert in certificates %}
                        <tr class="cert-row"
                            data-id="{{ cert.id }}"
                            data-series="{{ cert.series }}"
                            data-number="{{ cert.number }}"
                            data-create-date="{{ cert.create_date.strftime('%Y-%m-%d') if cert.create_date else '' }}"
                            data-issue-date="{{ cert.issue_date.strftime('%Y-%m-%d') if cert.issue_date else '' }}"
                            data-reason="{{ cert.reason or '' }}"
                            data-client-id="{{ cert.client.id or '' }}"
                            data-client-name="{{ cert.client.name or '' }}"
                            data-total-amount="{{ cert.total_amount }}"
                            data-place-id="{{ cert.place.id if cert.place else '' }}"
                            data-place-name="{{ cert.place.name if cert.place else '' }}"

                            data-servicegroup-id="{{ cert.servicegroup.id if cert.servicegroup else '' }}"
                            data-servicegroup-name="{{ cert.servicegroup.name if cert.servicegroup else '' }}"

                            data-user-id="{{ cert.creator.id }}"
                            data-user-name="{{ cert.creator.name }}"

                            data-user-id="{{ cert.editor.id }}"
                            data-user-name="{{ cert.editor.name }}"

                            data-note="{{ cert.note or '' }}"
                        >
                            <th scope="row">{{ loop.index }}</th>
                            <td>{{ cert.series }}</td>
                            <td>{{ cert.number }}</td>
                            <td>{{ cert.create_date.strftime('%d.%m.%Y') if cert.create_date else '' }}</td>
                            <td>{{ cert.issue_date.strftime('%d.%m.%Y') if cert.issue_date else '' }}</td>
                            <td>{{ cert.reason or '' }}</td>
                            <td>{{ cert.client.name or '' }}</td>
                            <td>{{ cert.total_amount }}</td>
                            <td>{{ cert.expired_amount }}</td>
                            <td>{{ cert.place.name if cert.place else 'Не указано' }}</td>
                            <td>{{ cert.servicegroup.name if cert.servicegroup else 'Не указано' }}</td>
                            <td>{{ cert.creator.name }}</td>
                            <td>{{ cert.editor.name }}</td>
                            <td>{{ cert.note or '' }}</td>
                        </tr>
                       
                    {% else %}
                    <!-- Этот блок отображается, если список certificates пуст -->
                    <tr>
                        <td colspan="10" class="text-center text-muted">Список сертификатов пуст.</td> <!-- colspan = количество колонок -->
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    <a href="{{ url_for('auth.index') }}" class="btn btn-secondary mt-3">Назад</a>
</div>
<!-- Модальное окно для создания сертификата -->
    {% set modal_id = "createCertModal" %}
    {% set modal_title = "Создать сертификат" %}
    {% set action = "create" %}
    {% set submit_text = "Создать" %}
    {% set cert = None %}
    {% include "certificates/_cert_modal.html" %}
    <!-- Модальное окно для редактирования сертификата -->    
    {% set modal_id = "editCertModal" %}
    {% set modal_title = "Редактировать сертификат" %}
    {% set action = "edit" %}
    {% set submit_text = "Сохранить" %}
    {% set cert = None %}
    {% include "certificates/_cert_modal.html" %}
    <!-- Модальное окно для выдачи сертификата --> 
    {% include "certificates/_issue_modal.html" %}
{% endblock %}

{% block scripts %}
    <!-- Подключаем JS файл -->
    <script src="{{ url_for('static', filename='js/certModalWindow.js') }}"></script>
{% endblock %}